<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-play-integrity-check" version="1.0.0">
  <name>PlayIntegrity</name>
  <js-module src="www/integrity.js" name="integrity">
    <clobbers target="cordova.plugins.integrity" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Integrity">
        <param name="android-package" value="vote.directdemocracy.integrity.Integrity"/>
      </feature>
    </config-file>
    <source-file src="src/android/Integrity.java" target-dir="src/vote/directdemocracy/integrity"/>
  </platform>
</plugin>